<div id="container">
  <div id="main">
    <form class="form-search" action='/search_result' method='get'>
      <input type='text' name='rate_query' class="input-medium search-query" placeholder="Enter a FX pair" autofocus/>
      <button class="btn btn-primary">SEARCH</button>
    </form>
  </div>
</div>